<!DOCTYPE html>
<html>
<head>
	<title>Postage Rate</title>
</head>
<body>
	<h1>Your Rate</h1>
	<p>Package Weight: <%= weight %></p>
	<p>Mail Type: <%= mailType %></p>
	<p>Postage Price: <%= price %></p>
	
</body>
</html>